/* Denna fil skall innehålla din CSS kod */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: rubrikMonoOne;
}

@font-face {
    font-family: rubrikMonoOne;
    src: url(../misc/RubikMonoOne-Regular.ttf);
}

@media screen and (max-width: 750px) {

    html, body { 
        max-width:100vw; overflow-x: hidden;
    }

    #container {
        display: grid;
        max-width: 100vw;
        height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 20fr 4fr 4fr;
        grid-template-areas: 
        'hd'
        '.'
        'ma'
        '.'
        'fo';
        background-image: url("../img/boatBackground.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #header {
        display: grid;
        grid-area: hd;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        'lo me';
        position: fixed;
        background-color: rgba(255,255,255, 0.9);
    
    }

    #menu {
        grid-area: me;
    }

    #logo {
        grid-area: lo;
    }

    #logo img {
        width: 40%;
        margin-left: 40%;
    }

    main {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        '.'
        'ab'
        'in'
        'boo'
        'bo';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        text-align: center;
    }

    #headline {
        font-size: 100%;
        color: rgb(255,255,255);
    }

    #about {
        grid-area: ab;
        background-color: brown;
    }

    #instructors {
        grid-area: in;
        background-color: coral;
    }

    #booking {
        grid-area: boo;
        background-color: darkgreen;
    }

    #boats {
        grid-area: bo;
        background-color: darkkhaki;
    }

    footer {
        grid-area: fo;
        background-color:#192d46;
    }

    .navLinks a {
        color: rgb(0,0,0);
        text-decoration: none;
        font-size: 10px;
        list-style: none;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: rgb(0,0,0);
        margin: 5px;
        border-radius: 10%;
        transition: all 0.3s;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: -30%;
        height: 30vh;
        top: 13vh;
        background-color: rgb(255,255,255);
        align-items: center;
        width: 30%;
        transition: all 1s;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateX(-100%);
}

.burger {
    margin-top: 15%;
    margin-left: 20%;
    cursor: pointer;
}

