/* Denna fil skall innehålla din CSS kod */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: rubrikMonoOne;
}

@font-face {
    font-family: rubrikMonoOne;
    src: url(../misc/RubikMonoOne-Regular.ttf);
}   

@media screen and (max-width: 750px) {

/* HOME PAGE */

    p {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: medium;
        margin: 2%;
    }

    ul {
        list-style-type: none;
    }

    html, body { 
        max-width:100vw; 
        overflow-x: hidden;
    }

    #container {
        display: grid;
        max-width: 100vw;
        min-height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas: 
        'hd'
        'ma'
        'fo';
    }

    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        background: url("../img/boatBackground.JPG") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

    #header {
        display: grid;
        grid-area: hd;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        'lo me';
        position: fixed;
        background-color: rgba(255,255,255, 0.9);
    }

    #menu {
        grid-area: me;
        margin-top: 40%;
    }

    #logo {
        grid-area: lo;
    }

    #logo img {
        width: 40%;
        margin-left: 40%;
        margin-top: 2%;
    }

    #start {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        '.'
        'ab'
        'in'
        'boo'
        'bo';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        text-align: center;
    }

    #headline {
        font-size: 100%;
        color: rgb(255,255,255);
        margin-top: 3%;
    }

    #headline2 {
        grid-area: hl2;
        font-size: 100%;
        color: rgb(255,255,255);
    }

    #headline3 {
        font-size: 100%;
        color: rgb(255,255,255);
        margin-top: 5%;
    }

    #headline5 {
        font-size: 100%;
        color: rgb(255,255,255);
        margin-top: -5%;
    }

    #about {
        grid-area: ab;
        background-image: url("../img/about.JPG");
        background-size: cover;
        color: rgb(255,255,255);
        border: rgba(255,255,255,0.7) solid;
    }

    #instructors {
        grid-area: in;
        background-image: url("../img/instructors.JPG");
        background-size: cover;
        color: rgb(255,255,255);
        border: rgba(255,255,255,0.7) solid;
        background-position: center;
    }

    #booking {
        grid-area: boo;
        background-image: url("../img/courses.JPG");
        background-size: cover;
        color: rgb(255,255,255);
        border: rgba(255,255,255,0.7) solid;
    }

    #boats {
        grid-area: bo;
        background-image: url("../img/boats.JPG");
        background-size: cover;
        color: rgb(255,255,255);
        border: rgba(255,255,255,0.7) solid;
        background-position: center;
    }

    footer {
        grid-area: fo;
        background-color: rgba(25,45,70, 0.9);
        color: rgb(255,255,255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #startAbout {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 4fr 4fr 1fr;
        grid-template-areas:
        'hl2'
        'oV'
        'tN';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        text-align: center;
    }

    #ourVision {
        grid-area: oV;
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
    }

    #theNeed {
        grid-area: tN;
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
        overflow-y: hidden;
    }

    #startInst {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
        grid-template-areas: 
        '.'
        'in1'
        'in2'
        'in3'
        '.';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        text-align: center;
    }

    #inst1 {
        grid-area: in1;
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
    }
    #inst2 {
        grid-area: in2;
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
    }
    #inst3 {
        grid-area: in3;
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
    }

    #startBoat {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 6fr 6fr 0.0fr;
        grid-template-areas: 
        '.'
        'sc'
        'fi'
        '.';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        /* margin-top: 30%; */
        text-align: center;
    }

    #scanmar {
        grid-area: sc;
        background-color: rgb(255,255,255);
        color: rgb(255,255,255);
        background-image: url("../img/scanmar.jpg");
        background-size: cover;
        background-position-y: bottom;
        border: rgba(255,255,255,0.7) solid;
        background-position: center;
    }

    #crown {
        grid-area: fi;
        background-color: rgb(255,255,255);
        color: rgb(255, 255, 255);
        background-image: url("../img/crown.jpg");
        background-size: cover;
        background-position-y: bottom;
        border: rgba(255,255,255,0.7) solid;
        background-position: center;
    }

    .navLinks a {
        color: rgb(0,0,0);
        text-decoration: none;
        font-size: 10px;
        list-style: none;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: rgb(0,0,0);
        margin: 5px;
        border-radius: 10%;
        transition: all 0.3s;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: -30%;
        height: 25vh;
        top: 100%;
        background-color: rgba(255,255,255,0.9);
        align-items: center;
        width: 30%;
        transition: all 1s;
        color: rgb(0,0,0);
    }

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateX(-100%);
}

.burger {
    margin-top: 15%;
    margin-left: 20%;
    cursor: pointer;
}

a:link {
    color: rgb(255,255,255);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255,255,255);
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255,255,255);
    text-decoration: none;
  }
 
  a:active {
    color: rgb(0,0,0);
    text-decoration: none;
  }

  ul a:link {
    color: rgb(0,0,0);
    text-decoration: none;
  }
  
  ul a:visited {
    color: rgb(0,0,0);
    text-decoration: none;
  }
  
  ul a:hover {
    color: rgb(172, 172, 172);
    text-decoration: none;
  }
 
  ul a:active {
    color: rgb(0,0,0);
    text-decoration: none;
  }

  h3 {
    font-size:small;
}

}

  @media screen and (min-width: 750px) {

    p {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: x-large;
        margin: 2%;
    }

    h3 {
        font-size:x-large;
    }

    ul {
        list-style-type: none;
    }

    html, body { 
        max-width:100vw; 
        overflow-x: hidden;
    }

    #container {
        display: grid;
        max-width: 100vw;
        min-height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 32vh auto 20vh;
        grid-template-areas: 
        'hd'
        'ma'
        'fo';
        background-image: url("../img/boatBackground.JPG");
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
    }

    #header {
        display: grid;
        grid-area: hd;
        grid-template-columns:1fr;
        grid-template-rows: 3fr 1fr;
        grid-template-areas: 
        'lo'
        'me';
        background-color: rgba(255,255,255, 0.9);
    }

    #menu {
        grid-area: me;
        display: flex;
        justify-content: center;
    }

    #logo {
        grid-area: lo;
        margin-left: 40%;
        margin-top: 1%;
    }

    #logo img {
        width: 30%;
    }

    ul.navLinks ul {
        float:left;
        padding-left: 35px;
        padding-right: 35px;
    }

    .navLinks a {
        color: rgb(0,0,0);
        text-decoration: none;
        font-size: 15px;
        list-style: none;
    }

    #start {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 3fr;
        grid-template-areas: 
        'h1 h1'
        'ab in'
        'boo bo';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        text-align: center;
    }

    #headline {
        grid-area: h1;
        font-size: 150%;
        color: rgb(255,255,255);
        margin: 10%;
    }

    #headline2 {
        font-size: 150%;
        color: rgb(255,255,255);
        margin: 15%;
        grid-area: h2;
    }

    #headline3 {
        font-size: 150%;
        color: rgb(255,255,255);
        margin-bottom: 10%;
        grid-area: h3;
    }

    #headline4 {
        font-size: 150%;
        color: rgb(255,255,255);
        margin-top: 5%;
        grid-area: h4;
    }

    #headline5 {
        font-size: 150%;
        color: rgb(255,255,255);
        margin-top: 5%;
        grid-area: h5;
    }

    #about {
        grid-area: ab;
        background-image: url("../img/about.JPG");
        background-size: cover;
        color: rgb(255,255,255);
        border: rgba(255,255,255,0.7) solid;
        padding-top: 30%;
    }

    #instructors {
        grid-area: in;
        background-image: url("../img/instructors.JPG");
        background-size: cover;
        color: rgb(255,255,255);
        border: rgba(255,255,255,0.7) solid;
        background-position: center;
        padding-top: 30%;
    }

    #booking {
        grid-area: boo;
        background-image: url("../img/courses.JPG");
        background-size: cover;
        color: rgb(255,255,255);
        border: rgba(255,255,255,0.7) solid;
        padding-top: 30%;
    }

    #boats {
        grid-area: bo;
        background-image: url("../img/boats.JPG");
        background-size: cover;
        color: rgb(255,255,255);
        border: rgba(255,255,255,0.7) solid;
        background-position: center;
        padding-top: 30%;
    }

    footer {
        grid-area: fo;
        background-color: rgba(25,45,70, 0.9);
        color: rgb(255,255,255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #startAbout {
        display: grid;
        grid-area: ma;
        height: 70vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        'h2 h2'
        'tN oV';
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    #ourVision {
        grid-area: oV;
        background-color: rgba(255,255,255,0.9);
        color: rgb(0,0,0);
    }

    #theNeed {
        grid-area: tN;
        background-color: rgba(255,255,255,0.9);
        color: rgb(0,0,0);
    }

    #startInst {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        'h3 h3 h3'
        'in1 in2 in3';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        margin-top: 15%;
        text-align: center;
    }

    #inst1 {
        grid-area: in1;
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
    }
    #inst2 {
        grid-area: in2;
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
    }
    #inst3 {
        grid-area: in3;
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
    }

    #startBoat {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 5fr;
        grid-template-areas: 
        'h5 h5'
        'sc fi';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        margin-top: 10%;
        /* margin-top: 30%; */
        text-align: center;
        height: 100vh;
    }

    #scanmar {
        grid-area: sc;
        background-color: rgb(255,255,255);
        color: rgb(255,255,255);
        background-image: url("../img/scanmar.jpg");
        background-size: cover;
        border: rgba(255,255,255,0.7) solid;
        background-position: bottom;
    }

    #crown {
        grid-area: fi;
        background-color: rgb(255,255,255);
        color: rgb(255, 255, 255);
        background-image: url("../img/crown.jpg");
        background-size: cover;
        border: rgba(255,255,255,0.7) solid;
        background-position: bottom;
    }

    #startCourse {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 5fr 2fr;
        grid-template-areas: 
        'h4 h4'
        'onb ofb'
        'book book';
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2.5%;
        margin-top: 10%;
        text-align: center;
    } 

    #onboard {
        grid-area: onb;
        background-color: rgba(255,255,255,0.9);
    }

    #offboard {
        grid-area: ofb;
        background-color: rgba(255,255,255,0.9);
    }

    a:link {
        color: rgb(255,255,255);
        text-decoration: none;
      }

      table {
          border-collapse: collapse;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          width: 98%;
          margin: 1%;
      }

      tr, th {
          border: 1px solid #dddd;
          text-align: left;
          padding: 8px;
      }

      #book {
          background-color: rgba(255, 255, 255, 0.9);
          grid-area: book;
      }

      .red {
          background-color: rgb(255, 111, 111);
      }

      .green {
          background-color: rgb(158, 255, 158);
      }
      
      a:visited {
        color: rgb(255,255,255);
        text-decoration: none;
      }
      
      a:hover {
        color: rgb(255,255,255);
        text-decoration: none;
      }
     
      a:active {
        color: rgb(0,0,0);
        text-decoration: none;
      }
    
      ul a:link {
        color: rgb(0,0,0);
        text-decoration: none;
      }
      
      ul a:visited {
        color: rgb(0,0,0);
        text-decoration: none;
      }
      
      ul a:hover {
        color: rgb(172, 172, 172);
        text-decoration: none;
      }
     
      ul a:active {
        color: rgb(0,0,0);
        text-decoration: none;
      }
    
}